/fundamentals
/proyectoPorActualizar
/proyecto
/ProyectoDelMes/node_modules
/ProyectoDelMes/views/notas.html
/ProyectoDelMes/views/script.js
/ProyectoDelMes/views/styles.css
/sqlQuerys.sql
/ProyectoDelMes/views/fondo.jpg